<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <!--<include path="~/Content/bootstrap.css" />-->
    <!--<include path="~/Content/Site.css" />--><!--default-->
    <include path="~/Content/sb-admin.css" /><!--sb admin theme-->
    <include path="~/Content/siteBootstrap.css" /><!--sb admin theme-->
    <include path="~/Content/Site.css" />
    <include path="~/Content/fontawesome-all.css" /><!--fontawesome css-->
  </styleBundle>
</bundles>